/* CUSTOM WORDPRESS ADMIN OVERRIDES */
/* --------------------------------------------------------------
 TRANSITION DELAY - LESS LOOP
 -------------------------------------------------------------- */
.delay-1 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.delay-2 {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from { opacity: 0; }

    to { opacity: 1; }
}

.fadeIn { animation-name: fadeIn; }

/* CUSTOM LOGIN */
.login {
    background-color: #818480 !important;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    & h1 {
        background-image: url(../images/logo.png) !important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain !important;
    }

    & a { background-image: none !important; }

    & form {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        padding: 20px 25px 30px;
        background-color: rgba(203, 203, 203, 0.5);
        box-shadow: 0px 0px 6px #878787;
        animation-name: fadeIn;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        animation-delay: 0.2s;
        -webkit-animation-delay: 0.2s;
    }

    & input[type="text"] {
        margin-top: 10px;
        color: #000;
        border-radius: 0;
        background-color: #ffffff;
        border-color: #dddddd;
        padding: 5px;
        font-size: 20px;
    }

    & input[type="password"] {
        margin-top: 10px;
        color: #000;
        border-radius: 0;
        background-color: #ffffff;
        border-color: #dddddd;
        padding: 5px;
        font-size: 20px;
    }

    & form input[type=checkbox] { margin-top: 0; }

    & .button-primary {
        width: 120px;
        float: right;
        background-color: #98CF00 !important;
        background: -webkit-gradient(linear, left top, left bottom, from(#98CF00), to(#8ABC01));
        background: -webkit-linear-gradient(top, #98CF00, #8ABC01);
        background: -moz-linear-gradient(top, #98CF00, #8ABC01);
        background: -ms-linear-gradient(top, #98CF00, #8ABC01);
        background: -o-linear-gradient(top, #98CF00, #8ABC01);
        background-image: -ms-linear-gradient(top, #98CF00 0%, #8ABC01 100%);
        color: #ffffff;
        -webkit-border-radius: 4px;
        border: 1px solid #98CF00;
        text-shadow: 0 -1px 1px #98CF00, 1px 0 1px #98CF00, 0 1px 1px #98CF00, -1px 0 1px #98CF00;
    }

    & .button-primary:hover {
        background-color: #98CF00 !important;
        background: -webkit-gradient(linear, left top, left bottom, from(#98CF00), to(#8ABC01 ));
        background: -webkit-linear-gradient(top, #98CF00, #8ABC01 );
        background: -moz-linear-gradient(top, #98CF00, #8ABC01 );
        background: -ms-linear-gradient(top, #98CF00, #8ABC01 );
        background: -o-linear-gradient(top, #98CF00, #8ABC01 );
        background-image: -ms-linear-gradient(top, #98CF00 0%, #8ABC01 100%);
        color: #fff;
        -webkit-border-radius: 4px;
        border: 1px solid #98CF00;
        text-shadow: 0 -1px 1px #98CF00, 1px 0 1px #98CF00, 0 1px 1px #98CF00, -1px 0 1px #98CF00;
        box-shadow: 0 1px 0 #98CF00, 0 0 2px 1px #98CF00;
    }

    & .button-primary:active {
        background-color: #98CF00 !important;
        background: -webkit-gradient(linear, left top, left bottom, from(#98CF00), to(#98CF00));
        background: -webkit-linear-gradient(top, #98CF00, #8ABC01);
        background: -moz-linear-gradient(top, #98CF00, #8ABC01);
        background: -ms-linear-gradient(top, #98CF00, #8ABC01);
        background: -o-linear-gradient(top, #98CF00, #8ABC01);
        background-image: -ms-linear-gradient(top, #98CF00 0%, #8ABC01 100%);
        color: #fff;
        -webkit-border-radius: 4px;
        border: 1px solid #8ABC01;
    }

    & label {
        color: #000;
        font-weight: 600;
        font-size: 13px;
        line-height: 22px;
        width: 100%;
        letter-spacing: -0.6px;
    }

    & #backtoblog a {
        text-decoration: none;
        color: #98CF00;

        &:hover { color: #FFF; }
    }

    & #nav a {
        text-decoration: none;
        color: #98CF00;

        &:hover { color: #FFF; }
    }
}

.toplevel_page_keyma_custom_options {
    background-color: #333333 !important;
    color: #FFF;

    & a { color: #98CF00; }

    & #wpcontent { padding-left: 0; }

    & .keyma_custom_options-header {
        display: block;
        background: #cecece;
        color: #FFF;
        padding: 20px;
        border-top: 1px solid #3a3a3a;
        border-left: 0;
        border-bottom: 1px solid #3a3a3a;

        & h1 {
            float: right;
            padding: 5px 20px;
            color: #FFF;
        }
    }

    & .keyma_custom_options-content {
        padding: 20px;
        line-height: 25px;

        & .form-table th, .form-wrap label { color: #FFF; }

        & h3 {
            color: #FFF;
            font-weight: 300;
        }

        & .button-primary {
            width: 120px;
            background-color: #98CF00 !important;
            background: -webkit-gradient(linear, left top, left bottom, from(#98CF00), to(#8ABC01));
            background: -webkit-linear-gradient(top, #98CF00, #8ABC01);
            background: -moz-linear-gradient(top, #98CF00, #8ABC01);
            background: -ms-linear-gradient(top, #98CF00, #8ABC01);
            background: -o-linear-gradient(top, #98CF00, #8ABC01);
            background-image: -ms-linear-gradient(top, #98CF00 0%, #8ABC01 100%);
            color: #ffffff;
            -webkit-border-radius: 4px;
            border: 1px solid #98CF00;
            text-shadow: 0 -1px 1px #98CF00, 1px 0 1px #98CF00, 0 1px 1px #98CF00, -1px 0 1px #98CF00;
        }

        & .button-primary:hover {
            background-color: #98CF00 !important;
            background: -webkit-gradient(linear, left top, left bottom, from(#98CF00), to(#8ABC01 ));
            background: -webkit-linear-gradient(top, #98CF00, #8ABC01 );
            background: -moz-linear-gradient(top, #98CF00, #8ABC01 );
            background: -ms-linear-gradient(top, #98CF00, #8ABC01 );
            background: -o-linear-gradient(top, #98CF00, #8ABC01 );
            background-image: -ms-linear-gradient(top, #98CF00 0%, #8ABC01 100%);
            color: #fff;
            -webkit-border-radius: 4px;
            border: 1px solid #98CF00;
            text-shadow: 0 -1px 1px #98CF00, 1px 0 1px #98CF00, 0 1px 1px #98CF00, -1px 0 1px #98CF00;
            box-shadow: 0 1px 0 #98CF00, 0 0 2px 1px #98CF00;
        }

        & .button-primary:active {
            background-color: #98CF00 !important;
            background: -webkit-gradient(linear, left top, left bottom, from(#98CF00), to(#98CF00));
            background: -webkit-linear-gradient(top, #98CF00, #8ABC01);
            background: -moz-linear-gradient(top, #98CF00, #8ABC01);
            background: -ms-linear-gradient(top, #98CF00, #8ABC018ABC01);
            background: -o-linear-gradient(top, #98CF00, #8ABC01);
            background-image: -ms-linear-gradient(top, #98CF00 0%, #8ABC01 100%);
            color: #fff;
            -webkit-border-radius: 4px;
            border: 1px solid #8ABC01;
        }
    }

    #wpfooter { color: #f8f8f8; }
}

