/* --------------------------------------------------------------
 /* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
 -------------------------------------------------------------- */
@import 'less/lesshat.less';
/* --------------------------------------------------------------
 /* WordPress Core
 -------------------------------------------------------------- */
@import 'less/wordpress-core.less';
/* --------------------------------------------------------------
 /* Shortcodes Ultimate Custom - ACTIVATE ONLY IF USED
 -------------------------------------------------------------- */
//@import 'less/shortcodes-ultimate-custom.less';
/* --------------------------------------------------------------
 Variables
 -------------------------------------------------------------- */
/* Pixels */
@1: 1px;
@2: 2px;
@3: 3px;
@4: 4px;
@5: 5px;
@10: (@5 + @5);
@15: (@10 + @5);
@20: (@10 + @10);
@25: (@20 + @5);
@30: (@15 + @15);
/* Colors */
@black: #000000;
@gray3: #333333;
@gray6: #666666;
@gray9: #999999;
@grayc: #cccccc;
@grayf0: #f0f0f0;
@white: #ffffff;
@blue: #2B7BCB;
@orange: #FFB12A;
@darkgreen: #8ABC01;
@lightgreen: #98CF00;

/* Theme commons
 -------------------------------------------------------------- */
.loading:empty {
    background: url('../images/common/loading.gif') no-repeat center center;
    min-height: 32px;
    min-width: 32px;
}@import 'less/layouts.less';

/* --------------------------------------------------------------
 Body default
 -------------------------------------------------------------- */
html, body { height: 100%; }

body {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

a {
    .transition(all .2s ease-in-out);

    &:hover { text-decoration: none; }
}

/* HEADER */
.the-header {
    z-index: 999 !important;
    background: #FFF;
    .transition(all .2s ease-in-out);
}

.is-sticky {
    & .the-header { box-shadow: 0px 2px 6px #d6d6d6; }
}

.header-logo {
    text-align: center;
    background: @white;
    padding: 4px;

    & img { display: inline-block; }
}

.header-small-bar {
    background: @darkgreen;
    font-size: 14px;
    font-weight: 400;

    & div {
        display: inline-block;
        border-right: 1px solid @lightgreen;
        padding: 7px 10px;
    }

    & .fa { font-size: 15px; }

    & a { color: @black; }

    & .search-bar {
        color: @white;
        background: #417D03;
    }
}

.header-main-bar {
    background: @lightgreen;

    & .main-nav-container {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        & li {
            display: inline-block;

            & a {
                padding: 5px 30px;
                padding-top: 35px;
                display: block;
                font-weight: 900;
                font-size: 12px;
                color: @white;
                border-right: 1px solid @darkgreen;
                text-transform: uppercase;
            }
        }
    }
}

/* A.- BIG MENU NAVIGATION */
.custom-big-navbar-container { position: relative; }

.dropdown-custom {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 999;
    background: @white;
    color: @black;
    max-height: 40vh;
    width: 100%;
    overflow: hidden;
    display: none;
    padding: 10px;

    & h2 {
        text-align: center;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 600;
        position: relative;
        margin-top: 15px;
        margin-bottom: 20px;

        &:before {
            content: ' ';
            width: 20%;
            height: 2px;
            border-bottom: 2px solid #000000;
            position: absolute;
            top: 45%;
            left: 0;
        }

        &:after {
            content: ' ';
            width: 20%;
            height: 2px;
            border-bottom: 2px solid #000000;
            position: absolute;
            top: 45%;
            right: 0;
        }
    }

    &:hover { display: block; }

    & a { color: @black !important; }

    & .media-custom {
        margin-bottom: 15px;
        border-bottom: 1px solid #d6d6d6;
        padding-bottom: 15px;

        & a {
            padding: 0 !important;
            display: block;
            font-weight: 500 !important;
            color: @black !important;
            border-right: 0 !important;
            text-transform: uppercase;
        }

        & .media-img {
            & picture {
                & img {
                    border: 1px solid @black;
                    max-width: 70px;
                    width: 100%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

        & .media-info {
            & h4 {
                font-size: 13px;
                font-weight: 600;
                line-height: 20px;
                margin-top: 0;
                margin-bottom: 5px;
            }
        }
    }
}

li.dropdown-custom-item div.dropdown-custom-item-product:last-child .media-custom { border-bottom: 0; }

.dropdown-custom-item-featured-container {
    & picture {
        & img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 220px;
        }
    }

    & .product-price {
        text-align: center;
        font-size: 20px;
    }

    & h4 {
        font-size: 15px;
        text-align: center;
        font-weight: 600;
    }

    & a {
        padding: 0 !important;
        display: block;
        font-weight: 500 !important;
        color: @black !important;
        border-right: 0 !important;
        text-transform: uppercase;
    }
}

.nav_main_1 .submenu-link:hover ~ #dropdown-custom-1 { display: block; }

.nav_main_2 .submenu-link:hover ~ #dropdown-custom-2 { display: block; }

.nav_main_3 .submenu-link:hover ~ #dropdown-custom-3 { display: block; }

.nav_main_4 .submenu-link:hover ~ #dropdown-custom-4 { display: block; }

.nav_main_5 .submenu-link:hover ~ #dropdown-custom-5 { display: block; }

.nav_main_6 .submenu-link:hover ~ #dropdown-custom-6 { display: block; }

.nav_main_7 .submenu-link:hover ~ #dropdown-custom-7 { display: block; }

.nav_main_8 .submenu-link:hover ~ #dropdown-custom-8 { display: block; }

.nav_main_9 .submenu-link:hover ~ #dropdown-custom-9 { display: block; }

.nav_main_10 .submenu-link:hover ~ #dropdown-custom-10 { display: block; }

/* FOOTER */
.the-footer {
    background: #222222;
    color: @white;
    padding: 2.5% 0;
    padding-bottom: 1%;

    & .footer-item {
        & h2 {
            margin-top: 0;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            font-weight: 400;
            color: #f1f1f1;
            border-bottom: 1px solid #353535;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }

        & img { margin-bottom: 20px; }

        & .footer-cat-item {
            padding: 6px;
            border: 1px solid #5f5f5f;
            display: inline-block;
            font-size: 14px;
            color: #5f5f5f;
            margin-bottom: 10px;
            margin-right: 10px;
            text-transform: capitalize !important;
        }

        & .menu {
            & ul {
                list-style: none !important;
                padding-left: 0 !important;

                & li {
                    display: inline-block !important;
                    width: 49% !important;
                    padding-bottom: 15px !important;

                    & a { color: #5f5f5f !important; }
                }
            }
        }
    }

    & .media-custom {
        border-bottom: 1px solid #353535;

        & .media-date {
            padding: 2px;
            background: #5f5f5f;

            & .media-date-wrapper {
                text-align: center;
                border: 1px solid gray;
                margin: 4px;
                font-size: 20px;
                text-transform: uppercase;
                font-weight: 400;

                & span:first-child {
                    font-size: 25px;
                    border-bottom: 3px solid white;
                }

                & span:last-child {
                    font-size: 14px;
                    margin-top: 5px;
                    display: inline-block;
                }
            }
        }

        & .media-info {
            font-size: 12px;
            color: #5f5f5f;
            line-height: 18px;

            & h3 {
                color: @white;
                font-size: 16px;
                font-weight: 600;
                margin-top: 5px;
                margin-bottom: 10px;
            }
        }
    }

    & .footer-data-container {
        border: 1px solid #3c3c3c;
        padding: 15px 5px;
        color: gray;
        text-align: center;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;

        & span { color: @white; }
    }

    & .footer-data-container-icons {
        padding-top: 5%;

        & .fa {
            background: #353535;
            width: 30px;
            height: 30px;
            padding: 8px;
            text-align: center;
            margin-right: 2px;
            margin-left: 2px;
            border-radius: 100%;
            color: #222222;
        }
    }

    & .footer-copy {
        border-top: 3px solid #353535;
        margin-top: 2%;
        padding-top: 1%;
        font-size: 15px;

        & .footer-copy-info {
            & h6 {
                font-size: 11px;
                color: #8a8a8a;
                letter-spacing: .5px;

                & .fa { color: @lightgreen; }

                & a {
                    color: @lightgreen;

                    &:hover { color: @darkgreen; }
                }
            }
        }
    }
}
/* CONTENIDO */
/* 1.- HOME */
.featured-products-container {
    & .featured-product-title {
        & h2 {
            margin-top: 10px;
            margin-bottom: 15px;
            padding-bottom: 8px;
            border-bottom: 1px solid black;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: -.5px;
        }
    }
}

.product-home-item-container {
    & .product-home-item-container-wrapper {
        border: 1px solid #c7c7c7;
        padding: 15px;
    }

    & .product-home-item {
        border-bottom: 1px solid #c7c7c7;
        padding-bottom: 10px;
        margin-bottom: 5px;

        &:last-child { border-bottom: 0; }

        & h3 {
            font-weight: 900;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: -.5px;
            margin-top: 0;
            line-height: 18px;
            margin-bottom: 5px;
        }
    }
}

.product-home-featured-product-item {
    border: 1px solid #c7c7c7;

    & .product-home-featured-product-item-wrapper { min-height: 52.2vh; }

    & h2 {
        margin-top: 0;
        margin-bottom: 5px;
        background: @lightgreen;
        color: @white;
        font-size: 15px;
        text-align: center;
        padding: 10px;
        font-weight: 700;
    }

    & h3 {
        font-size: 15px;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 25px;
    }

    & .woocommerce-Price-amount.amount {
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    & .product-home-item-data {
        max-height: 140px;
        overflow: scroll;
    }

    & .product-home-item-img { padding: 0 25px; }

    & .btn-cart {
        border: 2px solid @black;
        border-radius: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        padding: 10px 30px;
        background: none;
    }
}

.custom-nav-container {
    text-align: center;

    .products {
        list-style: none;
        padding-left: 0;
        text-align: left;

        & .product {
            text-align: center;
            padding-bottom: 20px;
            min-height: 460px;

            & .product-img-buttons {
                position: relative;
                overflow: hidden;
                border: 1px solid #f3f3f3;

                & .onsale {
                    position: absolute;
                    top: 5%;
                    right: 5%;
                    background: @darkgreen;
                    border-radius: 100%;
                    height: 75px;
                    width: 75px;
                    font-size: 12px;
                    font-weight: 700;
                    padding-top: 12%;
                    color: @white;
                    text-transform: uppercase;
                    letter-spacing: 2px;

                    & span {
                        position: relative;

                        &:before {
                            content: ' ';
                            width: 25px;
                            height: 2px;
                            position: absolute;
                            top: -5px;
                            left: 26%;
                            border-top: 1px solid #ffffff;
                        }

                        &:after {
                            content: ' ';
                            width: 25px;
                            height: 2px;
                            position: absolute;
                            bottom: -5px;
                            left: 26%;
                            border-bottom: 1px solid #ffffff;
                        }
                    }
                }

                &:hover {
                    & .product-img-buttons-container {
                        .transition(all .3s ease-in-out);
                        bottom: 0px;
                    }
                }
            }

            & .product-img-buttons-container {
                background: rgba(0, 0, 0, 0.7);
                padding: 5px 0;
                position: absolute;
                bottom: -35px;
                .transition(all .3s ease-in-out);

                & button {
                    color: @white;
                    background: none transparent;
                    border: 0;
                    text-transform: uppercase;
                    font-size: 10px;
                    letter-spacing: 1px;
                    text-align: left !important;
                    padding-bottom: 4px;
                }
            }

            & .product-categories {
                padding: 12px 0;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 12px;
                font-weight: 600;

                & a {
                    color: #ebad05;
                    display: block;
                }
            }

            & h3 {
                font-size: 15px;
                font-weight: 600;
                line-height: 24px;
                text-transform: uppercase;
            }

            & .product-price {
                padding: 10px 0;
                font-size: 18px;
                font-weight: 700;
            }

            & .button {
                border: 1px solid @black;
                padding: 5px 20px;
                text-transform: uppercase;
                color: @black;
                font-size: 12px;
                font-weight: 700;
                margin-top: 10px;
                display: inline-block;
                letter-spacing: 1px;
            }
        }
    }

    & .nav-tabs {
        padding: 10px 0;

        & li {
            float: none;
            display: inline-block;

            & a {
                border: 0;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 16px;
                letter-spacing: 1px;
                position: relative;
                color: @black;

                &:after {
                    content: ' ';
                    background: black;
                    width: 5px;
                    height: 5px;
                    position: absolute;
                    right: -5px;
                    top: 19px;
                }

                &:hover {
                    background-color: transparent !important;
                    border: 0 !important;
                    color: @lightgreen !important;
                }

                &:focus {
                    background-color: transparent !important;
                    border: 0 !important;
                    color: @lightgreen !important;
                }
            }

            &:last-child {
                & a:after { display: none !important; }
            }
        }

        & .active {
            & a {
                color: @lightgreen !important;
                background-color: transparent;
            }
        }
    }
}

.hero-section { margin-top: 1%; }

.section-title {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.featured-products { padding: 20px 0; }

.service-section {
    padding: 1% 0;

    & .service-container { border-bottom: 1px solid @black; }

    & .service-item {
        font-size: 14px;
        color: #616161;
        line-height: 25px;
        padding-bottom: 30px;

        &:hover {
            & .fa {
                .transition(all .3s ease-in-out);
                color: @white;
                background: @darkgreen;
            }
        }
    }

    & .service-item-icon {
        & .fa {
            .transition(all .3s ease-in-out);
            background: #f1f1f1;
            height: 60px;
            width: 60px;
            text-align: center;
            padding-top: 21%;
            font-size: 20px;
            color: @black;
            border-radius: 100%;
        }
    }

    & .service-item-info {
        & h2 {
            font-weight: 700;
            font-size: 16px;
            margin-top: 0;
            margin-bottom: 5px;
            text-transform: uppercase;
            color: #000;
            letter-spacing: 1px;
        }
    }
}

.clients-section {
    padding: 1% 0;

    & .client-item {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.main-section-title-container {
    background-size: cover;
    background-position: center 85%;
    color: #FFF;
    text-align: center;
    padding: 20px 0;
    position: relative;
    min-height: 25vh;
    margin-bottom: 15px;

    & .main-section-title-container-wrapper {
        background: rgba(52, 71, 0, 0.80);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 4%;

        & h1 {
            font-size: 40px;
            text-transform: uppercase;
            font-weight: 100;
            letter-spacing: 5px;
        }
    }
}

.main-archive-title-container { background: url(../images/bg-archive.jpg); }

.shop-custom-container {
    padding: 2% 0;
    border-right: 1px solid #e4e4e4;
    padding-right: 20px;
    margin-bottom: 25px;
}

#sidebar {
    list-style: none;
    padding-left: 10px;

    & .widgettitle {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 600;
        border-bottom: 1px solid #d6d6d6;
        margin-bottom: 15px;
        padding-bottom: 10px;
        line-height: 25px;
        letter-spacing: -.5px;
    }

    & .widget { padding-bottom: 10px; }

    & .widget_price_filter .price_slider_wrapper .ui-widget-content { background-color: #417D03 !important; }

    & .widget_price_filter .ui-slider .ui-slider-range { background-color: @lightgreen !important; }

    & .widget_price_filter .ui-slider .ui-slider-handle { background-color: @lightgreen !important; }

    & .woocommerce button.button, .woocommerce input.button {
        color: @white !important;
        background-color: @lightgreen !important;
    }

    & .price_label {
        font-size: 13px !important;
        font-weight: 600 !important;
        letter-spacing: -.5px !important;

        & span { font-weight: 900 !important; }
    }
}

.woocommerce-product-search {
    & button {
        background: @lightgreen;
        color: @white;
    }
}

/* WOOCOMMERCE CSS OVERRIDES */
.woocustom-main-container {
    & .products {
        & .product {
            & img { border: 1px solid #d8d8d8; }

            & .woocommerce-loop-product__title {
                font-size: 18px !important;
                font-weight: 300;
                line-height: 25px;
                color: #000;
                text-transform: uppercase;
            }

            & .price {
                color: #417d03 !important;
                font-weight: 600 !important;
                font-size: 20px !important;
            }

            & .button {
                border: 1px solid #000000;
                padding: 12px 20px;
                border-radius: 0;
                text-transform: uppercase;
                color: #000000;
                font-size: 15px;
                font-weight: 700;
                margin-top: 10px !important;
                display: inline-block;
                letter-spacing: -.5px;
                background: transparent !important;
            }
        }
    }

    & .entry-summary {
        & h1 {
            font-weight: 300 !important;
            font-size: 22px !important;
            text-transform: uppercase !important;
            margin-bottom: 15px !important;
        }

        & .product_meta {
            border-top: 1px solid #cccccc;
            border-bottom: 1px solid #ccc;
            font-size: 15px;
            margin-bottom: 20px;
            font-weight: 600;
            padding: 10px 0;

            & .posted_in { display: none !important; }
        }

        & .price {
            color: @darkgreen !important;
            font-size: 30px !important;
            font-weight: 600 !important;
        }

        & .woocommerce-product-details__short-description {
            font-size: 16px !important;
            line-height: 25px !important;
            font-weight: 400 !important;
        }

        & .quantity .qty {
            font-size: 18px !important;
            font-weight: 600 !important;
            border: 1px solid @darkgreen !important;
            color: @black !important;
            line-height: 33px !important;
        }

        & .cart { margin-top: 20px; }

        & .single_add_to_cart_button.button.alt {
            background: @darkgreen !important;
            color: @white !important;
            font-weight: 600 !important;
            text-transform: uppercase;
            padding: 12px 25px !important;
            letter-spacing: .2px !important;
            border-radius: 0 !important;
        }
    }

    & .woocommerce-tabs {
        font-size: 15px !important;
        font-weight: 400 !important;
        line-height: 25px !important;

        & .woocommerce-Reviews-title {
            font-size: 23px !important;
            text-transform: uppercase !important;
            font-weight: 600 !important;
            margin-top: 0 !important;
        }

        & .comment-form input { width: 100% !important; }
    }

    & .related {
        & h2:first-child {
            font-size: 25px !important;
            text-transform: uppercase !important;
            font-weight: 600 !important;
            letter-spacing: -.5px !important;
            border-bottom: 1px solid #CCC !important;
            padding-bottom: 15px !important;
            margin-bottom: 15px !important;
        }
    }

    & .woocommerce-product-gallery {
        & img { border: 1px solid #ececec; }
    }

    & .woocommerce-pagination {
        & ul {
            border: 0 !important;

            & li {
                border: 0 !important;

                & .current {
                    background: transparent !important;
                    color: #98cf00 !important;
                    font-weight: 900 !important;
                    font-size: 20px !important;
                }

                & a {
                    font-size: 20px !important;
                    font-weight: 400 !important;
                }
            }
        }
    }

    & div.product div.images { width: 38% !important; }

    & div.product div.summary {
        width: 60.5% !important;
        padding-left: 10px;
    }
}

.form-custom-control-container {
    margin-bottom: 10px;
    font-size: 14px;

    & label {
        font-weight: 400;
        font-size: 14px;
    }

    & input[type=submit] {
        background: @lightgreen;
        color: @white;
        padding: 10px 20px;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 900;
        border: 0;
        margin-top: 5px;
        margin-bottom: 20px;
    }
}

.contact-sidebar {
    font-size: 13px;

    & img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid #e2e2e2;
    }

    & h4 {
        font-weight: 600;
        border-bottom: 1px solid #e2e2e2;
        padding-bottom: 5px;
        text-transform: uppercase;
        font-size: 15px;
        margin-top: 20px;
    }

    & .fa {
        color: @lightgreen;
        padding-right: 5px;
    }
}

.suscription-form-container {
    margin-top: 20px;
    background: @darkgreen;
    padding: 20px;

    & h3 {
        margin: 0;
        margin-top: 4px;
        color: @white;
    }

    & button {
        background: @lightgreen;
        color: @black;
    }
}
