/* - GENERAL MEDIAQUERIES ARCHIVE - */
/* --------------------------------------------------------------
MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
-------------------------------------------------------------- */
//@media (max-width: 1920px) {
//
//}
//@media (max-width: 1680px) {
//
//}
//@media (max-width: 1600px) {
//
//}
//@media (max-width: 1440px) {
//
//}
//@media (max-width: 1366px) {
//
//}
//@media (max-width: 1280px) {
//
//}
@media (max-width: 1170px) {
    .header-small-bar div:nth-child(2) { display: none; }

    .header-main-bar .main-nav-container li a {
        padding: 5px 20px;
        padding-top: 35px;
    }

    .dropdown-custom h2 {
        font-size: 12px;

        &:before { display: none; }

        &:after { display: none; }
    }

    .products .product .product-img-buttons-container { bottom: -55px; }

    .products .product .product-price { font-size: 13px; }

    .header-logo img {
        max-width: 135px;
        margin-top: 5%;
    }

    .products .product h3 {
        font-size: 16px;
        line-height: 25px;
    }

    .dropdown-custom .media-custom .media-info h4 {
        font-size: 12px;
        line-height: 16px;
    }

    .dropdown-custom-item-featured-container h4 {
        font-size: 14px;
        line-height: 20px;
    }

    .dropdown-custom-item-featured-container .product-price { font-size: 15px; }

    .dropdown-custom .media-custom {
        margin-bottom: 10px;
        padding-bottom: 10px;
        min-height: 82px;
    }
    .products .product .product-img-buttons .onsale {
        height: 66px;
        width: 66px;
        font-size: 10px;
        padding-top: 13%;
    }
}
//@media (max-width: 1024px) {
//
//}
//@media (max-width: 992px) {
//
//}
/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */
//@media (max-width: 991px) {
//
//}
//@media (max-width: 800px) {
//
//}
//@media (max-width: 768px) {
//
//}
/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 768px
-------------------------------------------------------------- */
//@media (max-width: 600px) {
//
//}
//@media (max-width: 533px) {
//
//}
//@media (max-width: 414px) {
//
//}
//@media (max-width: 375px) {
//
//}
//@media (max-width: 360px) {
//
//}
//@media (max-width: 320px) {
//
//}
//@media (max-width: 240px) {
//
//}
